 *{box-sizing: border-box;}
 body{
   margin:0;
   padding: 0;
   background-color: #46529d;
   color:#fff;

 }
 .text-center{
   text-align: center;
 }
 .container{
   width:60%;
   margin:10% auto;

 }
 .listitems{
   background: #fff;
   color:#46529d
 }
 .listitems p {
   margin:0;
   text-align: center;
   padding: 10px 0px;

 }
 .listitems span{
   display: inline-block;
   text-align: center;
   padding: 10px 0px;
   font-size: 20px;
   border:0.3px solid #ccc;
   }





   .listitems span.title{
    background-color: #2ebaee;
    color:#fff;
    }
     
      .listitems span.task ,
      form input[type=text]{
        width:60%;
      }
      .listitems span.time ,
      form input[type=text]{
        width:30%;
      }
      .listitems span.action ,
      form input[type=submit]{
        width:10%;
      }
      .listitems span.icon {
       color:#2ebaee;
       cursor: pointer;
      }
      form input{
        padding: 10px;
        background:#ebebeb ;
        border: transparent;
        border: solid 0.3px #ccc;
      }
      form input[type=submit]{
         
        background:#2ebaee ;
         
        border: solid 0.3px #2ebaee;
        color:#fff;
        cursor: pointer;
      }

         
        

   